html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.othello {
  position: absolute;
  left: 800px;
  font-size: 50px;
  font-family: cursive;
  font-weight: 600;
  list-style: none;
  transition: transform .1s; } .othello:hover { transform: translateY(-5px);
}

ul.othello a {
text-decoration: none;
color: black;
}

.firstLine {
  position: absolute;
  top: 400px;
  left: 500px;
  font-size: 50px;
  font-family: cursive;
  font-weight: 600;
}

.secondLine {
  position: absolute;
  top: 500px;
  left: 500px;
  font-size: 50px;
  font-family: cursive;
  font-weight: 600;
}

.thirdLine {
  position: absolute;
  top: 600px;
  left: 500px;
  font-size: 50px;
  font-family: cursive;
  font-weight: 600;
}