html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.pool {
  position: absolute;
  padding-left: 800px;
  font-size: 50px;
  font-family: cursive;
  font-weight: 600;
  list-style: none;
  transition: transform .1s; } .pool:hover { transform: translateY(-5px);
}

ul.pool a {
text-decoration: none;
}

p {
  position: absolute;
  padding-left: 800px;
  padding-top: 300px;
  font-size: 30px;
  font-family: cursive;
  font-weight: 600;
}