html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.pool {
  padding-left: 400px;
  font-size: large;
  font-family: cursive;
  font-weight: 600;
  list-style: none;
  transition: transform .1s; } .pool:hover { transform: translateY(-8px);
}

ul.pool a {
text-decoration: none;
}