html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

.pool {
  position: absolute;
  left: 700px;
  font-size: 50px;
  font-family: cursive;
  font-weight: 600;
  list-style: none;
  transition: transform .1s; } .pool:hover { transform: translateY(-5px); 
}

ul.pool a {
  text-decoration: none;
  color: black;
}

p {
  position: absolute;
  left: 800px;
  top: 300px;
  font-size: 30px;
  font-family: cursive;
  font-weight: 600;
}
